securesystemslib[pynacl]
# Install from git to get succinct delegations support (should be in 2.0 release)
git+https://github.com/theupdateframework/python-tuf.git@3516cc36b607898bdbd94bcc0a4d9abcd4b67722
click
